.course-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    
  }
  
  .course-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .course-form label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: bold;
  }
  
  .course-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .course-form button {
    background-color: #9e178c8a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
   
  }
  
  .course-form button:hover {
    background-color: #921c745e;
  }
  div{
    text-align: center;
  }
 