.student-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
   
  }
  
  .student-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .student-form label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: bold;
  }
  
  .student-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .student-form button {
    background-color: #611c52d5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
   
  }
  
  .student-form button:hover {
    background-color: #360734;
  }
  div{
    text-align: center;
  }
  